$primary: #1e90ff;
$accent: #ff6347;
$bg: #ffffff;
$bg-accent: #e7e8e9;
$disabled: #9c9c9c;
$foreground: #2d264b;

ul {
    margin: "10px";
    margin-left: "-20px";

    li {
        text-decoration: none;
        list-style: none;
        color: inherit;
        font-size: "16px";
        background: inherit;
        border: 1px solid #e7e8e9;
        border-radius: "5px";
        padding: "10px";
        margin-top: "10px";
        cursor: pointer
    }
}
